<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="../static/css/style4.css" th:href="@{/css/style4.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="header :: header">
</div>
<br>
<div class="d-flex justify-content-center">
    <table class="table table-striped table-bordered" style="width: 75%">
        <thead>
        <tr>
            <th scope="col">City</th>
            <th scope="col">Depart number</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="depart : ${departmentList}">
            <td><span th:text="${depart.town}"></span></td>
            <td><span th:text="${depart.depart}"></span></td>
            <td><span><a class="btn btn-primary d-flex justify-content-center"
                         th:href="@{/edit_depart/{id}(id=${depart.id})}"
                         th:text="#{edit_but}"></a></span></td>
            <td><span><a class="btn btn-danger d-flex justify-content-center"
                         th:href="@{/delete_depart/{id}(id=${depart.id})}" th:text="#{delete_but}"></a></span></td>
        </tr>
        </tbody>
    </table>

</div>
<div class="d-flex justify-content-center">
    <a class="btn btn-success d-flex justify-content-center"
       th:href="@{/add_department}"
       th:text="#{add_depart}"></a>
</div>
<div class="d-flex justify-content-center">
    Total Items: [[${totalItems}]] - Page [[${currentPage}]] of [[${totalPages}]]
</div>
<div class="d-flex justify-content-center">
    <button type="button" class="btn btn-info"><a th:if="${currentPage > 1}"
                                                  th:href="@{'/departments/page/1'}">First</a>
        <span th:unless="${currentPage > 1}">First</span></button>
    &nbsp;
    <button type="button" class="btn btn-info"><a th:if="${currentPage > 1}"
                                                  th:href="@{'/departments/page/' + ${currentPage - 1}}">Previous</a>
        <span th:unless="${currentPage > 1}">Previous</span></button>
    &nbsp;
    <span th:each="i: ${#numbers.sequence(1, totalPages)}">
     <button type="button" class="btn btn-info">

    <a th:if="${currentPage != i}" th:href="@{'/departments/page/' + ${i}}">[[${i}]]</a>
    <span th:unless="${currentPage != i}" style="color: orangered">[[${i}]]</span>
     </button>
    &nbsp;</span>
    <button type="button" class="btn btn-info">
        <a th:if="${currentPage < totalPages}" th:href="@{'/departments/page/' + ${currentPage + 1}}">Next</a>
        <span th:unless="${currentPage < totalPages}">Next</span></button>&nbsp;
    <button type="button" class="btn btn-info"><a th:if="${currentPage < totalPages}"
                                                  th:href="@{'/departments/page/' + ${totalPages}}">Last</a>
        <span th:unless="${currentPage < totalPages}">Last</span></button>
</div>
</body>
</html>