<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="../static/css/style4.css" th:href="@{/css/style4.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="header :: header">
</div>
<br>
<div style="margin-left: 163px">
    <form th:action="@{/packages/page/1}">
        <span th:text="#{filter} + ':'"></span> <input type="text" name="keyword" id="keyword" size="50"
                                                       th:value="${keyword}" required/>
        <input type="hidden" name="sortField" th:value="${sortField}"/>
        <input type="hidden" name="sortDir" th:value="${sortDir}"/>
        &nbsp;
        <input type="submit" th:value="#{search}"/>
        &nbsp;
        <input type="button" th:value="#{reset}" id="btnClear" onclick="clearSearch()"/>
    </form>
</div>
<br>
<div class="d-flex justify-content-center">
    <table class="table table-striped table-bordered" style="width: 75%">
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Date Create</th>
            <th scope="col">Price</th>
            <th scope="col">Status</th>
            <th scope="col">More info</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="package : ${packageList}">
            <td><span class="d-flex justify-content-center" th:text="${package.title}"></span></td>
            <td><span class="d-flex justify-content-center"
                      th:text="${#temporals.format(package.dateSend, 'yyyy-MM-dd, HH:mm')}"></span></td>
            <td><span class="d-flex justify-content-center" th:text="${package.price}"></span></td>
            <td><span class="d-flex justify-content-center" th:text="${package.status}"></span></td>
            <td><span><a class="btn btn-primary d-flex justify-content-center"
                         th:href="@{/package_info/{id}(id=${package.id})}"
                         th:text="#{more_package_info}"></a></span></td>
            <td><span><a class="btn btn-danger d-flex justify-content-center"
                         th:href="@{/delete_package/{id}(id=${package.id})}" th:text="#{delete_but}"></a></span></td>

                <!-- <td><span><a class="btn btn-primary d-flex justify-content-center"
                              th:href="@{/admin/edit_courier/{id}(id=${courier.id})}"
                              th:text="#{edit_but}"></a></span></td>
                 <td><span><a class="btn btn-danger d-flex justify-content-center"
                              th:href="@{/admin/delete_courier/{id}(id=${courier.id})}" th:text="#{delete_but}"></a></span></td>-->
        </tr>
        </tbody>
    </table>
</div>
<div class="d-flex justify-content-center" sec:authorize="hasRole('ROLE_ADMIN')">
    <a class="btn btn-success d-flex justify-content-center"
       th:href="@{/add_package}"
       th:text="#{add_package_but}"></a>
</div>
<div class="d-flex justify-content-center">
    Total Items: [[${totalItems}]] - Page [[${currentPage}]] of [[${totalPages}]]
</div>
<div class="d-flex justify-content-center">
    <button type="button" class="btn btn-info"><a th:if="${currentPage > 1}" th:href="@{'/packages/page/1'}">First</a>
        <span th:unless="${currentPage > 1}">First</span></button>
    &nbsp;
    <button type="button" class="btn btn-info"><a th:if="${currentPage > 1}"
                                                  th:href="@{'/packages/page/' + ${currentPage - 1}}">Previous</a>
        <span th:unless="${currentPage > 1}">Previous</span></button>
    &nbsp;
    <span th:each="i: ${#numbers.sequence(1, totalPages)}">
     <button type="button" class="btn btn-info">

    <a th:if="${currentPage != i}" th:href="@{'/packages/page/' + ${i}}">[[${i}]]</a>
    <span th:unless="${currentPage != i}" style="color: orangered">[[${i}]]</span>
     </button>
    &nbsp;</span>
    <button type="button" class="btn btn-info">
        <a th:if="${currentPage < totalPages}" th:href="@{'/packages/page/' + ${currentPage + 1}}">Next</a>
        <span th:unless="${currentPage < totalPages}">Next</span></button>&nbsp;
    <button type="button" class="btn btn-info"><a th:if="${currentPage < totalPages}"
                                                  th:href="@{'/packages/page/' + ${totalPages}}">Last</a>
        <span th:unless="${currentPage < totalPages}">Last</span></button>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/packages}]]";
    }
</script>
</body>
</html>